<!DOCTYPE html>
<html>
<head>
    <% include includes/metaMain %>
</head>
<body>

<!-- header starts here -->
<% include includes/header %>
<!-- header ends here -->

<style type="text/css">
    
    select.category{
        font-size: 22px !important;
    }

    .md-form label{
        color: #83e799;
    }
    .md-form input[type="text"]:focus ~ label, .md-form input[type="number"]:focus ~ label, .md-form input[type="text"]:valid ~ label, .md-form input[type="number"]:valid ~ label{
        position: absolute;
        transition: .6s;
        top: -2px;
        left: 0;
        font-size: 11px;
        color: #83e799;
    }
    .md-form textarea.md-textarea:focus:not([readonly])+label{
        color: #83e799;
    }
    .btn-outline-info {
        border: 2px solid #83e799;
        color: #83e799!important;
        background-color: transparent;
    }    
</style>


    <div id="card_content"> 

        <div class="row">
            <div class="col-xs-6 col-sm-7 card" style="margin: auto;">
              <div class="card-body">
                <h5 class="card-title">Add product</h5>
            

<!-- Material form contact -->

    <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" action="#!">

                        <div class="img-container">
                            <img src="https://dummyimage.com/600x400/55595c/fff" width="300" id="thumbnail" class="img-fluid">
                        </div>
                        

                                    <!-- Name -->
                                    <div class="md-form mt-3">
                                        <input type="text" name="name" id="materialContactFormName" class="form-control" required>
                                        <label>Name</label>
                                    </div>



                                    <!-- Upload input -->
                                    <br>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                      </div>
                                      <div class="custom-file">
                                        <input type="file" name="img" class="custom-file-input" id="img-input"
                                          aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                                      </div>
                                    </div>  

                                    <br><br>                                      
  

      <div>
         <!-- Category -->
       <span style="color: #83e799!important;">Category</span><br>
        <select name="category" class="mdb-select category">
            <option value="" disabled selected>-Choose category-</option>
    
              <optgroup label="Men">
                  <% categories.forEach((category)=> { %>
                      <% if (category.super_category == 'men') { -%>
                          <option value="<%=category.id %>"><%=  helpers.ucwords(category.name) %></option>
                         <% } -%> 
                 <%})%>  
              </optgroup>


              <optgroup label="Women">
                  <% categories.forEach((category)=> { %>
                      <% if (category.super_category == 'women') { -%>
                          <option value="<%=category.id %>"><%=  helpers.ucwords(category.name) %></option>
                     <% } -%>
                 <%})%>  
              </optgroup>              



              <optgroup label="Accessories">
                  <% categories.forEach((category)=> { %>
                      <% if (category.super_category == 'accessories') { -%>
                          <option value="<%=category.id %>"><%=  helpers.ucwords(category.name) %></option>
                      <% } -%>
                  <%})%>
              </optgroup>   
        </select>                                        
    </div>


 

                                    <!--Description-->
                                    <div class="md-form">
                                        <br>
                                        <textarea id="materialDescription" class="form-control md-textarea" name="description" rows="3"></textarea>
                                        <label for="materialDescription" style="margin-bottom: 1px">Description</label>
                                    </div>

                                    <!-- Copy -->
<!--                                     <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                                        <label class="form-check-label" for="materialContactFormCopy">A random text</label>
                                    </div>
 -->
                        <!-- Material form contact -->                            


                        <!-- Send button -->
                        <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="button" onclick="create()">Add</button>

                    </form>
                    <!-- Form -->

                </div>

<!-- Material form contact -->


                <!-- <button class="btn btn-primary">Go</button> -->
              </div>
             </div>          
        </div>    
      </div>
    </div>

<!-- footer starts here -->
<% include includes/footer %>
<!-- footer ends here -->

<script src="/dashboard/assets/jquery.preview-img.js"></script>
<script type="text/javascript">
    $("#thumbnail").previewImageFrom("#img-input");



$("select#superCategory").on("change", function(){
    let selected = $(this).find(":selected");
    let superCategoryId =  selected.attr("data-id");

    // updating virtual input 
    $("input[name=super_category_id]").val(superCategoryId);
});




function create() {
    let form = $('form')[0]; 
    let formData = new FormData(form);
    //console.log(formData.values());
    for (let value of formData.values()) {
       console.log(value); 
    }
   
    $("#addBtn").attr("disabled", true);



    if(formData.get('img').size == 0) {
         $.toast({
            text: `<h6>Please choose an image</h6>`,
            showHideTransition: 'fade',
            icon: 'error',
            position: "top-right",
            loader:false
        });
         throw new Error("No image uploaded when creating product");
    }


    $.ajax({
        url : "json/add-product",
        type:"POST",
        data : formData,
        contentType: false,
        processData: false,       
        success : (res)=>{
            console.log(res);

            if(res.status == false) {
                 $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'fade',
                    icon: 'error',
                    position: "top-right",
                    loader:false
                });

                 setTimeout(()=>{ 
                     $("#addBtn").attr("disabled", false);
                    }, 1500);
            }



            if(res.status == true) {
                $.toast({
                    text: '<h6>Product added successfully</h6>',
                    showHideTransition: 'slide',
                    loader:false,
                    icon: 'success',
                    position: "top-right"
                });


                    setTimeout(()=>{ 

                     console.log("successful");
                     window.location.href = `<%= site.adminURL%>/add-sub-product/${res.pKey}`;

                    }, 2000);

            } 
        }
    });  

}


</script>    
</body>
</html>