<!DOCTYPE html>
<html>
<head>
     <% include includes/metaMain %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>

<!-- header starts here -->
<% include includes/header %>
<!-- header ends here -->

<style type="text/css">
    
    select.category{
        font-size: 22px !important;
    }

    .md-form label{
        color: #83e799;
    }
    .md-form input[type="text"]:focus ~ label, .md-form input[type="number"]:focus ~ label, .md-form input[type="text"]:valid ~ label, .md-form input[type="number"]:valid ~ label{
        position: absolute;
        transition: .6s;
        top: -2px;
        left: 0;
        font-size: 11px;
        color: #83e799;
    }
    .md-form textarea.md-textarea:focus:not([readonly])+label{
        color: #83e799;
    }
    .btn-outline-info {
        border: 2px solid #83e799;
        color: #83e799!important;
        background-color: transparent;
    }

    .modal {
        padding: 0px !important;
    }

    .multi-pic-modal {
       max-width: 800px !important;    
    }


/*multi image*/
input.multi{
  all:unset;
  margin:10px;
  padding:10px 20px;
  border:1px solid #e3e3e3;
  border-radius:5px;
  background-color: #f2f2f2;
  font-family:sans-serif;
}

#thumbnail_1_wrapper, #thumbnail_2_wrapper, #thumbnail_3_wrapper{
  width:150px;
  height:150px;
  background-color:#f2f2f2; 
  border:1px solid #e3e3e3;
  border-radius:10px;
  margin:20px 105px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#thumbnail_1, #thumbnail_2, #thumbnail_3{
  display:none;
  width: 100%;
  height:100%;
  position:absolute;
  left:0;
  top: 0;
  bottom:0;
  object-fit: cover;
  object-position: center;
}


._modal-delete-product{
    height: 220px;
}


<% if(hasDiscount) {%>
.has-discount {
  display: block !important;
}

#showDiscountBtn {
  display: none;
}

<%} else {-%>
#showDiscountBtn {
  display: block;
}

<%} -%>


 

</style>
    <div id="card_content"> 

        <div class="row">
            <div class="col-xs-6 col-sm-7 card" style="margin: auto;">
              <div class="card-body">
                <h5 class="card-title">Edit product</h5>

                    <div class="row" align="center">       
                         <div class="col-6">
                             <button type="button" class="btn btn-outline-warning waves-effect" onclick="window.location.href='/dashboard/add-sub-product/<%=product.pKey%>' ">Add sub product</button>
                         </div>

                         <div class="col-6">
                             <button type="button" class="btn btn-outline-warning waves-effect" onclick="popupSubProductsModal()">View sub products</button>
                         </div>
                    </div>                
            

<!-- Material form contact -->

    <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" action="#!">

                        <div class="img-container">
                            <img src="<%= site.url %>/img/products/<%=product.main_img %>" width="300" id="thumbnail" class="img-fluid">
                        </div>
                        

                                    <!-- Name -->
                                    <div class="md-form mt-3">
                                        <input type="text" id="materialContactFormName" class="form-control" name="name" value="<%= product.name%>" required>
                                        <label>Name</label>
                                    </div>

                                    

                                    



                                    <!-- Upload input -->
                                    <br>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                      </div>
                                      <div class="custom-file">
                                        <input type="file" name="img" class="custom-file-input" id="img-input"
                                          aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                                      </div>

                                    </div>  



                                      <p> 
                                          <a href="#" onclick="openMultiplePictureModal()">Add more pictures</a>
                                      </p>


                                    <br><br>                                      
                                    

                                      <div>
                                         <!-- Category -->
                                       <span style="color: #83e799!important;">Category</span><br>
   <!--                                      <select name="category" class="mdb-select category">
                                            <option value="" disabled selected>-Choose category-</option>
                                             <% categories.forEach((category)=> { %>
                                             <option value="<%=category.id %>" <% if (category.id == product.category_id) { -%>
                                                 selected
                                             <% }%>><%=  helpers.ucwords(category.name) %></option>
                                             <%})%>
                                        </select>   -->



  <select name="category" class="mdb-select category">
            <option value="" disabled selected>-Choose category-</option>
    
              <optgroup label="Men">
                  <% categories.forEach((category)=> { %>
                      <% if (category.super_category == 'men') { -%>
                          <option value="<%=category.id %>" <% if (category.id == product.category_id) { -%> selected
                            <% }%>><%=  helpers.ucwords(category.name) %></option>
                         <% } -%> 
                 <%})%>  
              </optgroup>


              <optgroup label="Women">
                  <% categories.forEach((category)=> { %>
                      <% if (category.super_category == 'women') { -%>
                          <option value="<%=category.id %>" <% if (category.id == product.category_id) { -%> selected
                            <% }%>><%=  helpers.ucwords(category.name) %></option>
                     <% } -%>
                 <%})%>  
              </optgroup>              



              <optgroup label="Accessories">
                  <% categories.forEach((category)=> { %>
                      <% if (category.super_category == 'accessories') { -%>
                          <option value="<%=category.id %>" <% if (category.id == product.category_id) { -%>  selected
                            <% }%>><%=  helpers.ucwords(category.name) %></option>
                      <% } -%>
                  <%})%>
              </optgroup>   
        </select>  


                                    </div>
                                    <br>
                                     <div>
                                        <!-- Brand -->
                                       <span style="color: #83e799!important;">Brands</span><br>
                                       <select name="brand_id"  class="mdb-select category">
                                         <option value="" disabled selected>-Choose Brand-</option>

                                         <% if (brands.length > 0) { -%>
                                            <% brands.forEach((brand)=> { %>
                                                    <option value="<%=brand.id %>" <% if (brand.id == product.brand_id) { -%>
                                                 selected
                                             <% }%>><%=  helpers.ucwords(brand.name) %></option>
                                             <%})%>                
                                         <% } -%>
                                     
                                       </select>

                                      </div>



                                    <!--Description-->
                                    <div class="md-form">
                                        <br>
                                        <textarea id="materialDescription" class="form-control md-textarea" rows="3" name="description"><%=product.description %></textarea>
                                        <label for="materialDescription">Description</label>
                                    </div>

                                    <!-- Discount Percentage -->
                                    <div class="sc" style="display:none">
                                      <p id="showDiscountBtn"><a href="#" onclick="toggleDiscountField('show')">Add Discount</a></p>

                                      <p id="hideDiscountBtn"><a href="#" onclick="toggleDiscountField('hide')">Remove Discount</a></p>
                                    </div>

                                    <div class="md-form mt-3" id="discountField">
                                      <input type="number" id="discount_percent" class="form-control"
                                      name="discount_percent" value="<%= product.discount_percent%>" min="0" max="99" required>
                                      <label for="discount_percent">Discount (%)</label>
                                   </div>
                                   <span style="font-size:12px; text-align:right">NOTE: Please leave or change Discount at 0 if you do not want any Discount price to be shown to your users </span>


                                    <!-- Copy -->
<!--                                     <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                                        <label class="form-check-label" for="materialContactFormCopy">A random text</label>
                                    </div>
 -->
                        <!-- Material form contact -->                            

                        <input type="text" name="id" value="<%=product.id%>" style="display: none;">

                        <!-- Send button -->
                        <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="button" onclick="edit()">Save changes</button>

                         <button class="btn btn-outline-danger btn-rounded btn-block z-depth-0 my-4 waves-effect" type="button" onclick="openDeleteModal()">Remove</button>


                        <input type="text" name="chkImg" style="display: none;" value="<%=product.main_img %>">

                    </form>
                    <!-- Form -->

                </div>

<!-- Material form contact -->


                <!-- <button class="btn btn-primary">Go</button> -->
              </div>
             </div>          
        </div>    
      </div>
    </div>


<!-- sub product modal -->
<div id="spModal" class="modal">
  <div align="center">
    <p><h4>Sub products for <i><%=product.name %></i></h4> </p>

    <% if (subProducts.length > 0) { -%>
    <ul class="list-group">
    <% subProducts.forEach(sp => { -%>
          <li class="list-group-item">
             <div class="row">
                 <div class="col-5"><%=sp.name %></div>
                  <div class="col-4">&#8358;<%=sp.price.toLocaleString() %></div>
                 <div class="col-2"><a href="/dashboard/edit-sub-product/<%=sp.id %>">Edit</a></div>
             </div> 
          </li>
    <% }) -%>

     </ul> 
        
    <% } else { -%>

    <div><h3>Empty</h3></div>
    <br>
    <div>
         <button type="button" class="btn btn-outline-warning waves-effect" onclick="window.location.href='/dashboard/add-sub-product/<%=product.pKey%>'">Add sub product</button>
     </div>  
          
    <% } -%>
  </div>
</div>





<div id="deleteModal" class="modal _modal-delete-product" align="center">
  <div align="center">
    <p style="margin-top: 12%">
      <small>Are you sure you want to remove  </small><br>
      <span style="color: #5d5d5d"><%=product.name %>?</span>
      <br>

      <a type="button" onclick="deleteProduct('<%=product.pKey%>')" class="btn btn-sm btn-danger">Yes</a>
      <a type="button" onclick="" rel="modal:close" class="btn btn-sm btn-success">No</a>
     </p>
  </div>
</div>




<!-- multiple pic modal -->

<div id="multiPicModal" class="modal multi-pic-modal" align="center">
  <div align="center">
  
  <form id="multi-form" class="multi">
  <input class="multi"  type="file" name="img" id="multiImg" onchange='displayThumbnail(this, "thumbnail_1")'>
  
  <input class="multi" type="file" name="img" id="multiImg" onchange='displayThumbnail(this, "thumbnail_2")'>
  
  <input class="multi" type="file" name="img" id="multiImg" onchange='displayThumbnail(this, "thumbnail_3")'>
  
  
  <button  class="btn btn-success" type="button" onclick="uploadMultiImg()">Save</button>
</form>

<div id="thumbnail_1_wrapper">
  <img src="#" id="thumbnail_1">
</div>
<div id="thumbnail_2_wrapper">
  <img src="#" id="thumbnail_2">
</div>
<div id="thumbnail_3_wrapper">
  <img src="#" id="thumbnail_3">
</div>
  

    </div>

  </div>
</div>

<!-- footer starts here -->
<% include includes/footer %>
<!-- footer ends here -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="<%= site.adminURL%>/assets/jquery.preview-img.js"></script>
<script type="text/javascript">
const hasDiscount = <%=hasDiscount %>;

$("#thumbnail").previewImageFrom("#img-input");

$("#img-input").change(function () {
    $("input[name=chkImg]").val("IMAGE_CHANGED");
});



function popupSubProductsModal(){
    $("#spModal").modal("show");
}


function edit() {
    let form = $('form')[0]; 
    let formData = new FormData(form);
    //console.log(formData.values());
    for (let value of formData.values()) {-

       console.log(value); 
    }

   
    $("#editBtn").attr("disabled", true);


    $.ajax({
        url : "<%= site.adminURL%>/json/edit-product",
        type:"POST",
        data : formData,
        contentType: false,
        processData: false,       
        success : (res)=>{
            console.log(res);

            if(res.status == false) {
                 $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'fade',
                    icon: 'error',
                    position: "top-right",
                    loader:false
                });

                 setTimeout(()=>{ 
                     $("#editBtn").attr("disabled", false);
                    }, 1500);
            }



            if(res.status == true) {
                $.toast({
                    text: '<h6>Changes saved</h6>',
                    showHideTransition: 'slide',
                    loader:false,
                    icon: 'success',
                    position: "top-right"
                });


                    setTimeout(()=>{ 

                     console.log("successful");
                     window.location.href = "<%= site.adminURL%>/products";

                    }, 2000);

            } 
        }
    });  

}

/*
 * Functions below are for the uploading of multiple pics for a product   
*/
function openMultiplePictureModal() {
    $("#multiPicModal").modal("show");
}


function displayThumbnail(input, selector){
    
    if (input.files && input.files[0]) 
    {
      var reader = new FileReader();
      reader.onload = function (e) {
      $('#'+selector).attr('src', e.target.result).css({
            'display'   :'inline-block'            
         });                    
       };
      reader.readAsDataURL(input.files[0]);
 }
}



function uploadMultiImg(){
    var formData = new FormData(document.getElementById("multi-form"));
    var inputs = document.querySelectorAll('#multiImg');

    console.log(inputs);

    formData.append('pKey', '<%=product.pKey%>');
    formData.append('productName', '<%=product.name%>');



    console.log(formData);



    $.ajax({
        url : "<%= site.adminURL%>/json/add-product-images",
        type:"POST",
        data : formData,
        contentType: false,
        processData: false,       
        success : (res)=>{
            console.log(res);

            if(res.status == false) {
                 $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'fade',
                    icon: 'error',
                    position: "top-right",
                    loader:false
                });

                 setTimeout(()=>{ 
                     $("#editBtn").attr("disabled", false);
                    }, 1500);
            }



            if(res.status == true) {
                $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'slide',
                    loader:false,
                    icon: 'success',
                    position: "top-right"
                });


                    setTimeout(()=>{ 

                     console.log("successful");
                     

                    }, 2000);

            } 
        }
    }); 
}


function openDeleteModal() {
  $("#deleteModal").modal('open');
}




function deleteProduct(pKey) {
   $.ajax({
          url : "<%= site.adminURL%>/json/product/delete",
          type:"POST",
          data : {pKey: pKey},     
          success : (res)=>{
              console.log(res);

              if(res.status == true) {
                  $.toast({
                      text: `<h6>${res.message}</h6>`,
                      showHideTransition: 'slide',
                      loader:false,
                      icon: 'success',
                      position: "top-right"
                  });

                  setTimeout(()=>{ 
                    console.log("successful");
                       window.location.href = "<%= site.adminURL%>/products"; 
                    }, 2000);

              } 
          }
      }); 
}

function toggleDiscountField(param) {
  
  if(param == "show") {
    $("#discount_percent").val(1);
    $("#discountField").show();
    $("#showDiscountBtn").hide();
    $("#hideDiscountBtn").show();
  }

  if(param == "hide") {
     $("#showDiscountBtn").show();
    $("#discount_percent").val(0);
    $("#discountField").hide();
    $("#hideDiscountBtn").hide();
  }
}
    
</script>

</body>
</html>