<!DOCTYPE html>
<html>
<head>
     <% include includes/metaMain %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>

<!-- header starts here -->
<% include includes/header %>
<!-- header ends here -->

<style type="text/css">
      
    select.category{
        font-size: 22px !important;
    }

    .md-form label{
        color: #83e799;
    }
    .md-form input[type="text"]:focus ~ label, .md-form input[type="number"]:focus ~ label, .md-form input[type="text"]:valid ~ label, .md-form input[type="number"]:valid ~ label{
        position: absolute;
        transition: .6s;
        top: -2px;
        left: 0;
        font-size: 11px;
        color: #83e799;
    }
    .md-form textarea.md-textarea:focus:not([readonly])+label{
        color: #83e799;
    }
    .btn-outline-info {
        border: 2px solid #83e799;
        color: #83e799!important;
        background-color: transparent;
    }
    .modal {
        padding: 0px !important;
        height: 40%;
    }


</style>

    <div id="card_content"> 

        <div class="row">
            <div class="col-xs-6 col-sm-7 card" style="margin: auto;">
              <div class="card-body">
                <h5 class="card-title">Add sub product for <i><%=product.name.toUpperCase() %></i></h5>
                <h6>The name should be  <i> e.g 50 ml, 1 cup, 30g</i></h6>
            
                    <div>
                         <button type="button" class="btn btn-outline-warning waves-effect" onclick="window.location.href='/dashboard/edit-product/<%=product.id%>'">Go to Product</button>
                    </div>

<!-- Material form contact -->

    <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" action="#!">

                                    <!-- Name -->
                                    <div class="md-form mt-3">
                                        <input type="text" id="materialContactFormName" class="form-control" name="name" value="<%=subProduct.name%>" required>
                                        <label>Name</label>
                                    </div>

                 <!-- Price -->
                                    <div class="md-form">
                                       
                                            <input type="number" id="materialAmount" name="price"  min="1000" max="20000" value="<%=subProduct.price%>" class="form-control" required 
<% if (subProduct.price >0) { -%>
autofocus<% }  -%> >
                                             <label for="materialAmount">Price (&#8358;)</label>
                                    
                                    </div>


   
                    

                                    <!-- Copy -->
<!--                                     <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
                                        <label class="form-check-label" for="materialContactFormCopy">A random text</label>
                                    </div>
 -->
                        <!-- Material form contact -->                            

                        <input type="text" name="id" value="<%=product.id%>" style="display: none;">

                        <!-- Send button -->
                        <button id="edit-btn" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="button" onclick="modify()">Save changes</button>

                        <br><br>

                        <p>
                            No longer need this ?<br>

                             <button id="del-btn" class="btn btn-outline-danger btn-rounded btn-block z-depth-0 my-4 waves-effect" type="button" onclick="toggleDeletePopup()">Remove</button>   
                        </p>
              


                    </form>
                    <!-- Form -->

                </div>

<!-- Material form contact -->


                <!-- <button class="btn btn-primary">Go</button> -->
              </div>
             </div>          
        </div>    
      </div>
    </div>




<div id="delModal" class="modal">


      <div class="modal-body">
        <br>
        <p>Are you sure you want to remove this sub product?</p>
      </div>

      <div align="center">
        <a  class="btn btn-success" onclick="deleteSub(<%=subProduct.id%>)">Yes</a>

        <a href="#modal" rel="modal:close" class="btn btn-danger">No</a> 
      </div>


</div>
   

<!-- footer starts here -->
<% include includes/footer %>
<!-- footer ends here -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="<%= site.adminURL%>/assets/jquery.preview-img.js"></script>
<script type="text/javascript">
    $("#thumbnail").previewImageFrom("#img-input");

   function toggleDeletePopup() {
        $("#delModal").modal("show");
    }

    function hideDelModal() {
       $("#delModal").modal("hide");
    }

   

function modify() {

    let formData = {
        name : $("input[name=name]").val(),
        price : $("input[name=price]").val(),
        subId : <%=subProduct.id%>
    }


    
   
    $("#edit-btn").attr("disabled", true);

    $.ajax({
        url : "<%= site.adminURL%>/json/product/sub/modify",
        type:"POST",
        data : formData,      
        success : (res)=>{
            console.log(res);

            if(res.status == false) {
                 $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'fade',
                    icon: 'error',
                    position: "top-right",
                    loader:false
                });

                 setTimeout(()=>{ 
                     $("#edit-btn").attr("disabled", false);
                    }, 1500);
            }



            if(res.status == true) {
                $.toast({
                    text: '<h6>Sub product modified</h6>',
                    showHideTransition: 'slide',
                    loader:false,
                    icon: 'success',
                    position: "top-right"
                });


                    setTimeout(()=>{ 

                     console.log("successful");
                     window.location.href = "<%= site.adminURL%>/edit-product/<%=product.id%>";

                    }, 2000);

            } 
        }
    });  

}



 function deleteSub(arg) {
    $("#delete-btn").attr("disabled", true);

    $.ajax({
        url : "<%= site.adminURL%>/json/product/sub/delete",
        type:"POST",
        data : {id : arg},      
        success : (res)=>{
            console.log(res);

            if(res.status == false) {
                 $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'fade',
                    icon: 'error',
                    position: "top-right",
                    loader:false
                });

                 setTimeout(()=>{ 
                     $("#delete-btn").attr("disabled", false);
                    }, 1500);
            }



            if(res.status == true) {
                $.toast({
                    text: `<h6>${res.message}</h6>`,
                    showHideTransition: 'slide',
                    loader:false,
                    icon: 'success',
                    position: "top-right"
                });


                    setTimeout(()=>{ 

                     console.log("successful");
                     window.location.href = "<%= site.adminURL%>/edit-product/<%=product.id%>";

                    }, 2000);

            } 
        
        }
    })
}





</script>

</body>
</html>