<!DOCTYPE html>
<html>
<head>
    <% include includes/metaMain %>
</head>
<body>





<!-- header starts here -->
<% include includes/header %>
<!-- header ends here -->



            <style type="text/css">
                /* page css */
                    span.price {
                        font-size: 18px;
                    }

                    .product {
                        margin-top: 3%;
                        margin-bottom: 3%;
                    }

                    #customer-details {
                        color: #30363d;
                    }
            </style>

            <!-- cards view for dashboard to explain main info  -->

            <div align="center"><h2>Order info</h2></div>
            <br>
           <!--  <h6><%= key %></h6> -->
            <br>
    
        <div class="row" style=" width:98%; overflow-x: hidden; margin:auto;">
            <div class="col-12">
                       
                <div class="card text-center">
                  <div class="card-header">
                    <ul class="nav nav-pills card-header-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="customer-details-tab" data-toggle="pill" href="#customer-details" role="tab" aria-controls="customer-details" aria-selected="true">Customer Details</a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" id="items-ordered-tab" data-toggle="pill" href="#items-ordered" role="tab" aria-controls="items-ordered" aria-selected="false">Items Ordered</a>
                          </li>

                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <!-- Customer details tab -->
                      <div class="tab-pane fade show active" id="customer-details" role="tabpanel" aria-labelledby="customer-details-tab">
                          <div class="customer-details-content">
                             <div align="center"><h4>Customer Information<br></h4></div>

                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Order number</label>
                                </div>
                                <div class="col-md-8 col-6">
                                   <%=order.order_key%>
                                </div>
                            </div>
                            <hr />


                            <div class="row">
                                
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Name</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <%=order.customer_name%>
                                </div>
                            </div> 

                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Phone</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <%=order.customer_phone%>
                                </div>
                            </div>


                             <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Email</label>
                                </div>
                                <div class="col-md-8 col-6">
                                     <%=order.customer_email%>
                                </div>
                            </div>


                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Address</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <%=order.address%>
                                </div>
                            </div>

                             <hr />

                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Is someone else picking up?</label>
                                </div>
                                <div class="col-md-8 col-6">
                                   <% if (order.is_not_pip) { -%>
                                       YES
                                   <% } else { -%>
                                       NO
                                   <% } -%>
                                </div>
                            </div>                            


                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Shipping method</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <%=order.shipping_method.toUpperCase()%> 
                                    <% if (order.zone_desc) { -%>
                                      @ <%=order.zone_name %> (<%=order.zone_desc %>)
                                    <% } -%>
                                      
                                   
                                </div>
                            </div>
                         

                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Additional info</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    <%=order.add_info%>
                                </div>
                            </div>


                            <!-- <hr/> -->



                            <!-- Payment info -->
                           <br><br> <div align="center"><h4>Payment Information<br></h4></div>

                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Amount paid</label>
                                </div>
                                <div class="col-md-8 col-6">
                                   &#8358;  <%=order.amount.toLocaleString()%>
                                    <% if (order.zone_desc) { -%>
                                      for items & &#8358;<%=order.zone_price %> for delivery <br>
                                      Total: &#8358;<%=(order.amount + order.zone_price).toLocaleString()%>
                                    <% } -%>
                                      
                                   
                                </div>
                            </div>

                            <br>
                            <% if (order.is_delivered) { -%>
                              <div class="alert alert-warning">
                                This order was marked as delivered on {{date}}
                              </div>
                            <% } else { -%>
                                  <div id="deliveredBtn"><button class="btn btn-success" onclick="markAsDelivered('<%=order.order_key%>')"><i class="material-icons fit">check</i>Mark as delivered</button></div>

                              <div id="deliveredAlert" class="alert alert-warning" style="display: none;">
                                This order is marked as delivered
                              </div>
                            <% } -%>
                        

                          </div>
                        </div>



                        <!-- Items ordered tab  -->
                      <div class="tab-pane fade" id="items-ordered" role="tabpanel" aria-labelledby="items-ordered-tab">
                      <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="row">

                                 <% if (products && productOrders) { -%>
                                     <% productOrders.forEach(p => { -%>
                                   <!-- Product -->
                                    <div class="col-12 col-md-6 col-lg-4 product">
                                        <div class="card">
                                            <!-- Product image -->
                                            <img class="card-img-top" src="/img/products/<%=products.find(obj => obj.id === p.product_id).main_img%>" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="#" title="View Product"><%=products.find(obj => obj.id === p.product_id).name%></a></h5>
                                                <p class="card-text">Quantity ordered: <b><%=p.qty%> </b></p>

                                                <% if (p.product_order_key) { -%>
                                                <!-- Extras here -->
                                                <small>Extras</small>: 

                                                  <% extras.forEach(extra=> { -%>
                                                      <% if (extra.product_order_key == p.product_order_key) { -%>

                                                      <small style="color: #595959"><%=extra.name %></small>
                                                      <b style="color: #2bbbad">.</b>
                                                        
                                                      <% }  -%>        
                                                      
                                                  <% }) -%>
                                                <% } -%>
                                                  
                                        
                                                
                                                <div class="row">
                                                    <div class="col">
                                                        <p class="btn btn-default btn-rounded btn-block">
                                                            <span class="price">&#8358;<%=p.price.toLocaleString()%></span> </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
      



                                     <% }) -%>
                                     
                                 <%  } -%>   


                                </div>
                            </div>

                        </div>
                    </div>
                      </div>
                      
                    </div>
                  </div>
                </div>

              </div>
        </div>






<!-- footer starts here -->
<% include includes/footer %>
<!-- footer ends here -->

<script type="text/javascript">

 <% if (order.is_not_pip  && !order.is_delivered) { -%>
Swal.fire(
  'Hey there',
  'It seems someone else will be picking up this order',
  'info'
)
 <% }  -%>  


   function markAsDelivered(arg) {
    let deliveredBtn = $("#deliveredBtn");
    let deliveredAlert = $("#deliveredAlert");

    $.post(
      '/dashboard/json/order/add/delivered',
       {order_key: arg}, 
       (res)=> {
        console.log(res);
        if (res.status === true) {
          $.toast({
              text: '<h6>Order set as delivered</h6>',
              showHideTransition: 'slide',
              loader:false,
              icon: 'success',
              position: "top-right"
          });

          deliveredBtn.hide();
          deliveredAlert.show();
        }
    });
  }

  
</script>

</body>
</html>