<!DOCTYPE html>
<html>
<head>
    <% include includes/metaMain %>
</head>
<style type="text/css">
    div.card-body{
        overflow-x: auto;
    }
</style>
<body>


<!-- header starts here -->
<% include includes/header %>
<!-- header ends here -->

<style type="text/css">
    
</style>

             <div align="center">
                <h2>Products</h2>
               <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search products" id="search" autocomplete="off">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- cards view for products  -->

            
        <div id="card_content">
            <div class="card">
                <div class="card-body">

                    <div>
                         <button type="button" class="btn btn-outline-warning waves-effect" onclick="window.location.href='add-product'">Add product</button>
                    </div>

                    <table class="table table-hover" id="products">
                        <thead>
                            <!-- <th scope="col">NO</th> -->
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                          <!--   <th scope="col">Price</th> -->
                            <th scope="col">Last updated</th>
                            <th scope="col"><!-- Action --></th>
                        </thead>
                        <tbody>

                            <% if (products) { -%>
                                

                                <% products.forEach(product => {  let i = 1; i++  -%>
                                    
                                    <tr>
                                        <!-- <th scope="row"></th> -->
                                         <td><img src="<%= site.url %>/img/products/<%=product.main_img %>" width="100"></td>
                                        <td><%=helpers.ucwords(product.name) %></td>
                                        <td><%=categories.find(category => category.id == product.category_id).name %></td>
                                        <td>
                                            <% if (product.time_updated) { -%>
                                            <%=helpers.formatTime(product.time_updated,  "D MMM Y");  %></td>                         
                                            <% } -%>

                                      <td><button type="button" onclick="window.location.href='edit-product/<%=product.id%>'" class="btn btn-info">Edit</button></td>
                                    </tr>



                                <% }); -%>

                               <div align="center" id="noResult" style="display: none;">
                                    <p><h1>No order found for <b id="searchTerm"></b> </h1></p>
                                </div>

                            <% } else { -%>
                                <div>
                                    <h3>No product yet</h3>
                                </div>
                            <% } -%>

                        </tbody>
                    </table>    
                </div>
            </div>

<!-- footer starts here -->
<% include includes/footer %>
<!-- footer ends here -->

<script src="https://rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

<script type="text/javascript">

var noResultAlert = $("#noResult");
var noResultAlertSearchTerm = $("#noResult #searchTerm");    
$(function () {
    $( '#products' ).searchable({
        searchField: '#search',
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy',
        onSearchActive : function( noResultAlert , noResultAlertSearchTerm ) {
            noResultAlert.hide();
        },
        onSearchEmpty: function( noResultAlert ) {
            noResultAlert.show();
        }        
    });
});      
</script>
</body>
</html>