<style type="text/css">
    .order-table tr {
        cursor: pointer !important;
    }
</style>

   
<section>
         <!-- <div align="center" style="margin-top: 5vh"><h2>All new orders</h2></div> -->
        <div class="" style="padding: 15px; width: 90%; margin: auto;">
            <div class="card display">
                <div class="card-body" style="overflow: auto;">
                    <table class="table table-hover order-table" id="OrdersTable">
                        <% if (orders) { -%>

                        <thead>
                            <th scope="col">Order Number</th>
                            <th scope="col">Meal Plan</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Preferred Start Time</th>
                            <th scope="col">Ordered On</th>
                            
                        </thead>
                        <%}%>
                        <tbody>
<% if (orders) { -%>

<% orders.forEach(order => { -%>

                            <tr onclick="window.location.href='<%=site.adminURL%>/orders/meal-plan/<%=order.meal_key%>'">
                                <td><%=order.meal_key%></td>
                                <td><%=order.meal_plan_name%></td>
                                <td><%=order.customer_name%></td>                            
                                <td>&#8358;<%=order.amount.toLocaleString()%></td>
                                <td><%=helpers.formatTime(order.start_time, "DD-MMM-YYYY")%></td>
                                <td> <%=helpers.formatTime(order.time_added, "DD-MMM-YYYY hh:mm A")%></td>
            
                            </tr>
    
<% }) -%>


    <div align="center" id="noResult" style="display: none;">
        <p><h1>No order found for <b id="searchTerm"></b> </h1></p>
    </div>
 

<% } else { -%>
    <div align="center">
        <p><h1>No new orders</h1></p>
    </div>
<% } -%>
                            </tbody>
                    </table>

                   <% if (orders) { -%> 
                <!--     <div align="center"> <button class="bttn-bordered bttn-sm bttn-warning">View more</button></div> -->
                   <%}%> 

                </div>
            </div>
        </div>   
</section>        
