<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
</head>
<body>

	<style type="text/css">
		
		._index {
			margin-top: 4%;
			margin-bottom: 4%;
		}

		.remove-btn {
			font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
			padding: 8px 10px;
			font-size: 0.85714em;
			line-height: 1;
			background-color: #bd4848;
			color: #e8e9eb;
			border-color: #e8e9eb;
			float: right;
		}
		.remove-btn:hover{
			color: #e8e9eb;
		}

		.checkout-btn{
			border-radius: 4px !important;
		}
		div.cart_item {
			border: 1px solid #eee;
			margin: 10px auto;
			padding: 10px;
			max-width: 450px;
			width: 100%;
			border-radius: 5px;
		}

		 div.cart_product .row {
			display: flex;
			flex-wrap: nowrap;
			margin: auto;
			margin-bottom: 10px;
		}

		div.product-image{
			width: 100px;
			overflow: hidden;
			border-radius: 10px;
		}

		.item_price{
			color: #838683;
		}

		.quantity{
			margin-bottom: 0;
		}

		div.quantity input.form-control.text-center {
			width: 65px;
		}

		div.quantity input.form-control.text-center:focus {
			border: 2px solid #df6e68;
			outline: none;
		}
		.product-details {
			padding: 0 20px;
			font-size: 18px;
		}

		.total-quantity {
			display: flex;
			justify-content: space-between;
			max-width: 100%;
			margin: 20px 0;
		}

		.total_item_price {
			font-size: 22px;
			color: #080808;
		}

		.bottom-panel{
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			margin: 10px auto;
			margin-bottom: 20px;
			max-width: 1020px;
			width: 100%;
		}
		@media screen and (min-width: 760px){
			table.cart_item{
				display: table;
				width: 100%;
			}
		}
	</style>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Index section -->
	<section class="_index">


<p><h2 align="center" style="font-weight: 500">Your cart</h2></p>

<% if (products.length > 0) { -%>
		<div class="container">
			<div id="cart" class="container">
				<div class="row">

					<% products.forEach (product => { -%>
					<div id="cart-item-<%=product.id %>" class="cart_item">

						<div data-th="Product" class="cart_product">
							<div class="row">
								<div class="product-image"><img src="/img/products/<%=product.superItem.main_img %>" alt="<%=product.name %>" class="img-responsive"/></div>
								<div class="product-details">
									<span class="nomargin" style="font-size: 25px; text-transform: capitalize;">	<%= product.superItem.name %></span>
									<div data-th="Price" class="item_price">&#8358;<%= product.item.price.toLocaleString() %></div>
								</div>
								
							</div>
						</div>
						
						<div class="total-quantity">
							<div data-th="Quantity" class="quantity">
								<input type="number" min="1" class="form-control text-center" value="<%=product.qty %>" onchange="updateItemPrice(this.value,'<%=product.id%>' )">
							</div>
							
							<div data-th="Subtotal" class="text-center total_item_price">&#8358;<span id="totalItemPrice-<%=product.id %>"><%=product.price.toLocaleString() %></span></div>
						</div>

						<div>
							<button 
							class="btn remove-btn btn-sm"
							onclick="toggleRemoveDialog('<%=product.id%>')" 
							>REMOVE</button>
						</div>
<!-- 									<div class="actions" data-th="">
							<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
							<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
						</div> -->
					</div>

					<!-- remove dialog modal -->
					<div class="modal fade" id="removeDialog-<%=product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
					<!--       <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div> -->
						<div class="modal-body">
							<p>
							<h5 style="font-weight: 400">Do you want to remove "<i id="dialogProductName" style="font-weight: 500"><%= product.superItem.name %> </i>" from the cart? </h5>
							</p>

							<p align="right">
								<button type="button" class="dialog-btn btn-success btn-sm"
								onclick="removeItem('<%=product.id%>')"
								>Yes</button>

								<button type="button" class="dialog-btn btn-danger btn-sm" data-dismiss="modal">No</button>
							</p>	

						</div>
						</div>
					</div>
					</div>
											
					<% }); -%>	


				
					</tbody>
				</table>

				<div class="row">
<!-- 								<tr class="visible-xs">
						<td class="text-center"><strong>Total 1.99</strong></td>
					</tr> -->
					<div class="bottom-paneljustify-content-md-center align="right">
						<!-- <a href="/store" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a> -->
					</div>
				</div>
			</div>

			<div align="right" class="row  justify-content-md-center">
				<div class="col-xs-12 col-lg-6"> 
					<br>
					<p align="center">
						<span class=""><strong>Total &#8358;<span id="totalPrice"><%=totalPrice.toLocaleString() %></span></strong></span>
						<br>
					</p>
						
					<p style="margin-bottom: 6%;">
						<button type="button" onclick="window.location.href='/checkout'" class="site-btn submit-order-btn">Check out</button>
					</p>
				</div>
			</div>
		</div>	



<!-- Remove dialog modal -->



<% } else { -%>
	
<% } -%>



	</section>
	<!-- Index section end -->


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->

	<script type="text/javascript">

	function toggleRemoveDialog(arg) {
	 	$(`#removeDialog-${arg}`).modal("show");
	}		

 	function removeItem(arg) {
 		Cart.removeItem(arg).then((res) => {
 			$(`#removeDialog-${arg}`).modal("hide");
 			$(`#cart-item-${arg}`).hide();

 			if (res.totalItems == 0) {
 				$("#no-item").show();	
 			}

 			updateTotalPrice();
 		});
 	}


 	function updateTotalPrice () {
 		Cart.get().then(res=> {
 			let totalPrice = res.cart.totalPrice;
 			console.log(`updateTotalPrice() =>price => ${totalPrice}`);
 			$("#totalPrice").html(totalPrice.toLocaleString());
 			console.log(`updateTotalPrice() => ${res}`);
 		});
 	}


 	function updateItemPrice(qty, id) {
 		console.trace(qty);
 			Cart.updateQtyById(id, qty).then(res => {
 				updateTotalPrice();

		 		Cart.getItemById(id).then(res=> {
		 			console.log(res.data.price);
		 			$(`#totalItemPrice-${id}`).html(res.data.price.toLocaleString());
		 		});


 			});		

 	}		
	</script>

	</body>
</html>
