<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
</head>
<body>

	<style type="text/css">
		
		._index {
			margin-top: 4%;
			margin-bottom: 4%;
		}

		.remove-btn {
			font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
			padding: 8px 10px;
			font-size: 0.85714em;
			line-height: 1;
			background-color: #fff;
			color: #3d4246;
			border-color: #e8e9eb;					
		}

		.checkout-btn{
			border-radius: 4px !important;
		}
	</style>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Index section -->
	<section class="_index">


<p><h2 align="center" style="font-weight: 200">Your cart</h2></p>

<% if (products.length > 0) { -%>
		<div class="container">
			<table id="cart" class="table table-hover table-condensed">
		    				<thead>
								<tr>
									<th style="width:50%">Product</th>
									<th style="width:10%">Price</th>
									<th style="width:8%">Quantity</th>
									<th style="width:32%" class="text-center">Subtotal</th>
									
								</tr>
							</thead>
							<tbody>
									

					<% products.forEach (product => { -%>
								<tr id="#cart-item-<%=product.id %>">

									<td data-th="Product">
										<div class="row">
											<div class="col-sm-2 hidden-xs"><img src="/img/products/<%=product.superItem.main_img %>" alt="<%=product.name %>" class="img-responsive"/></div>
											<div class="col-sm-10">
												<span class="nomargin" style="font-size: 20px">	<%= product.superItem.name %></span>
												<br>
												<small>
													<button 
													class="btn remove-btn btn-sm"
													onclick="toggleRemoveDialog('<%=product.id%>')" 
													>REMOVE</button>
												</small>
												<!-- <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p> -->
											</div>
										</div>
									</td>
									<td data-th="Price">&#8358;<%= product.item.price.toLocaleString() %></td>
									<td data-th="Quantity">
										<input type="number" class="form-control text-center" value="<%=product.qty %>" onchange="updateItemPrice(this.value,'<%=product.id%>' )">
									</td>
									<td data-th="Subtotal" class="text-center">&#8358;<span id="totalItemPrice-<%=product.id %>"><%=product.price.toLocaleString() %></span></td>
<!-- 									<td class="actions" data-th="">
										<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
										<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>								
									</td> -->
								</tr>


<!-- REMOVE DIALOG MODAL -->


<!-- remove dialog modal -->
	<div class="modal fade" id="removeDialog-<%=product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	<!--       <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div> -->
	      <div class="modal-body">
	      	<p>
	      	 <h4 style="font-weight: 100">Do you want to remove<b id="dialogProductName" style="font-weight: 200"><%= product.superItem.name %> </b> from the cart? </h4>
	        </p>

	        <p align="right">
	        	<button type="button" class="dialog-btn btn-success btn-sm"
	        	 onclick="removeItem('<%=product.id%>')"
	        	>Yes</button>

	        	<button type="button" class="dialog-btn btn-danger btn-sm" data-dismiss="modal">No</button>
	        </p>	

	      </div>
	    </div>
	  </div>
	</div>
											
					<% }); -%>	


							</tbody>
							<tfoot>
<!-- 								<tr class="visible-xs">
									<td class="text-center"><strong>Total 1.99</strong></td>
								</tr> -->
								<tr>
									<td><a href="/store" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
									<td colspan="2" class="hidden-xs"></td>
									<td class="hidden-xs text-center"><strong>Total &#8358;<span id="totalPrice"><%=totalPrice %></span></strong></td>
								</tr>
							</tfoot>
						</table>

						<div align="center">
							<p> <button class="btn btn-info checkout-btn">CHECK OUT</button> </p>
						</div>
		</div>	



<!-- Remove dialog modal -->



<% } else { -%>
	
<% } -%>



	</section>
	<!-- Index section end -->


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->

	<script type="text/javascript">

	function toggleRemoveDialog(arg) {
	 	$(`#removeDialog-${arg}`).modal("show");
	}		

 	function removeItem(arg) {
 		Cart.removeItem(arg).then((res) => {
 			$(`#removeDialog-${arg}`).modal("hide");
 			$(`#cart-item-${arg}`).hide();

 			if (res.totalItems == 0) {
 				$("#no-item").show();	
 			}

 			updateTotalPrice();
 		});
 	}


 	function updateTotalPrice () {
 		Cart.get().then(res=> {
 			let totalPrice = res.cart.totalPrice;
 			console.log(`updateTotalPrice() =>price => ${totalPrice}`);
 			$("#totalPrice").html(totalPrice.toLocaleString());
 			console.log(`updateTotalPrice() => ${res}`);
 		});
 	}


 	function updateItemPrice(qty, id) {
 		console.trace(qty);
 			Cart.updateQtyById(id, qty).then(res => {
 				updateTotalPrice();

		 		Cart.getItemById(id).then(res=> {
		 			console.log(res.data.price);
		 			$(`#totalItemPrice-${id}`).html(res.data.price.toLocaleString());
		 		});


 			});		

 	}		
	</script>

	</body>
</html>
