<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>	
 <meta name="robots" content="noindex">
</head>
<body>

	<style type="text/css">
		.small-text {
			font-size: 15px
		}

		.checkout-textarea {
			width: 100%;
		    border: none;
		    height: 200px;
		    padding: 12px 18px;
		    background: #f0f0f0;
		    border-radius: 40px;
		    margin-bottom: 20px;
		    font-size: 14px;
		   			
		}
	</style>
	<!-- Page Preloder -->
	<!-- <div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Page info -->
	<!-- <div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Your cart</a>
			</div>
		</div>
	</div> -->
	<!-- Page info end -->


	<!-- checkout section  -->
	<section class="checkout-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-1 order-lg-2 fixed">
					<form class="checkout-form">
						<!-- <div class="cf-title">Billing Address</div> -->
						<div class="row">
							<div class="col-md-7">
								<p>Customer details</p>
							</div>
						<!-- 	<div class="col-md-5">
								<div class="cf-radio-btns address-rb">
									<div class="cfr-item">
										<input type="radio" name="pm" id="one">
										<label for="one">Use my regular address</label>
									</div>
									<div class="cfr-item">
										<input type="radio" name="pm" id="two">
										<label for="two">Use a different address</label>
									</div>
								</div>
							</div> -->
						</div>
						<div class="row address-inputs">

							<div class="col-md-6">
								<input type="text" id="firstName" placeholder="First name">
							</div>
							<div class="col-md-6">
								<input type="text" id="lastName" placeholder="Last name">
							</div>


							<div class="col-md-6">
								<input type="text" id="email" placeholder="Email">
							</div>
							<div class="col-md-6">
								<input type="text" id="phone" placeholder="Phone">
							</div>

							<div class="col-md-12">
								<input type="text" id ="address"  placeholder="Address">

								<textarea id="addInfo" class="checkout-textarea" placeholder="Additional Information"></textarea>
							</div>
						</div>
						<!-- <div class="cf-title">Delievery Info</div> -->
					<!-- 	<div class="row shipping-btns">
							<div class="col-6">
								<h4>Standard</h4>
							</div>
							<div class="col-6">
								<div class="cf-radio-btns">
									<div class="cfr-item">
										<input type="radio" name="shipping" id="ship-1">
										<label for="ship-1">Free</label>
									</div>
								</div>
							</div>
							<div class="col-6">
								<h4>Next day delievery  </h4>
							</div>
							<div class="col-6">
								<div class="cf-radio-btns">
									<div class="cfr-item">
										<input type="radio" name="shipping" id="ship-2">
										<label for="ship-2">$3.45</label>
									</div>
								</div>
							</div>
						</div> -->
						<!-- <div class="cf-title">Payment</div> -->
						<ul class="payment-list">
					<!-- 		<li>Paypal<a href="#"><img src="img/paypal.png" alt=""></a></li>
							<li>Credit / Debit card<a href="#"><img src="img/mastercart.png" alt=""></a></li> -->
							<li>Total: <span style="color: #333333;">
								<%-currencyConvert({to:currencyChoice, value :totalPrice }).symbol%>
								<%-currencyConvert({to:currencyChoice, value :totalPrice }).result.toLocaleString()%>
							</span> </li>
						</ul>

						<p style="margin-bottom: 6%;">
							<button type="button" onclick="initPayment()" class="site-btn submit-order-btn">Place Order</button>
						</p>

					</form>
				</div>


				<div class="col-lg-4 order-2 order-lg-1 pre-scrollable">
					<div class="checkout-cart">
						<h3>Your Cart</h3>
						<ul class="product-list">

	<% products.forEach(p=>{%> 
							<li>
								<div class="pl-thumb"><img src="/img/products/<%=p.superItem.main_img %>" alt=""></div>
								<h6><%=p.superItem.name %></h6>
								<!-- <p>&#8358;<%=p.item.price.toLocaleString() %></p> -->


							<p>
								<%-currencyConvert({to:currencyChoice, value :p.item.price }).symbol%>
								<%-currencyConvert({to:currencyChoice, value :p.item.price }).result.toLocaleString()%>
							</p>
							</li>
	<%})%>


						</ul>

						<ul class="price-list">
							<!-- <span class="small-text"><li>Total: &#8358;<%=totalPrice.toLocaleString() %></li>
								</span> -->

							<span class="small-text">
							<li>Total: <%-currencyConvert({to:currencyChoice, value :totalPrice }).symbol%><%-currencyConvert({to:currencyChoice, value :totalPrice }).result.toLocaleString()%>
							</li>
								</span>	
							<!-- <span class="small-text"><li>Shippingfree</li></span>
							<li class="total">Total<span class="small-text">&#8358;<%=totalPrice.toLocaleString() %></span></li> -->
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- checkout section end -->

	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->
	 <script src="https://js.paystack.co/v1/inline.js"></script>



<script type="text/javascript">


  $.busyLoadSetup({
    background: "rgba(45, 45, 45, 0.98)",
    spinner: "circles",
    animation: "slide",
    text : "please wait",
    textPosition:"bottom",
    textMargin: "3rem"
  }); 
 	function togglePay() {

		 var handler = PaystackPop.setup({ 
		        key: '<%=site.paystackPK%>', //put your public key here
		        email: `${$("#email").val().trim()}`, //put your customer's email here
		        amount: <%=totalPrice%> * 100, //amount the customer is supposed to pay in kobo
		        metadata: {
		            custom_fields: [
		                {
		                    display_name: `${$("#lastName").val().trim().toUpperCase()} ${$("#firstName").val().trim()}` 
		                }
		            ]
		        },
		        callback: function (response) {
		            //after the transaction have been completed
		            //make post call  to the server with to verify payment 
		            //using transaction reference as post data
		               $.busyLoadFull("show");  
 		
		            $.post("/json/checkout/pay", {reference:response.reference}, function(res){


				          
		                if(res.status == true){

							setTimeout(()=> {
								$.busyLoadFull("hide");
							}, 1800);


							setTimeout(()=> {
								Swal.fire(
								  'Payment received',
								  'Please click to continue',
								  'success'
								).then(()=> {
									setTimeout(()=> {
										window.open('/checkout/success', '_blank').focus();
										window.location.href = '/store';
									}, 500);
								})
							}, 1900);         	

		                }
		                else{
							setTimeout(()=> {
								$.busyLoadFull("hide");
								Swal.fire({
								  icon: 'error',
								  title: 'Payment failed',
								  text: 'Something went wrong with your payment.Try again'
								})
							}, 1800);		                	  	
		                }
		            });
         
		        },
		        onClose: function () {
		            //when the user close the payment modal
		            alert('Transaction cancelled');
		            reject('Transaction cancelled'); 
		            
		        }
		    });
		    handler.openIframe(); //open the paystack's payment modal
 		

 	}

 	function submitOrder() {
 		return new Promise((resolve, reject)=>{

			let formData = {
				firstName : $('#firstName').val(),
				lastName : $('#lastName').val(),
				email : $('#email').val(),
				phone : $('#phone').val(),
				address : $('#address').val(),
				addInfo : $("#addInfo").val()
			}

			console.log(formData);
			//console.log($('#input[name=isNotPip] :checked').val());

	 		$.ajax({
	 			url: '/json/order/submit',
	 			type: 'POST',
	 			data: formData
	 		})
	 		.done((res) =>{
	 			if (res.status == true) {
	 				resolve(res);
	 			} else {
	 				reject(res);
	 			}
	 		}); 
 			
 		});
 	}



 	function initPayment() {
 			
	 	let notyf = new Notyf({
	 		duration:3000,
	 		  position: {
	    		x: 'left',
	    		y: 'bottom',
	  		} 
	  	});

 		submitOrder().then(res => {
 			togglePay();
 		}).catch(res =>{
 			// CHANGE HERE TO res.message
 			console.log(res);
 			notyf.error(res.message);
 		});


 

 	}
 </script>




	</body>
</html>
