<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>

 <meta name="description" content="Biirii Africa is a world class online fashion store that aims at providing premium and appealing African wears and accessories.">
<!-- Facebook and Twitter integration -->
<meta property="og:title" content="<%=pageTitle %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://biiriiafrica.com"/>
<meta property="og:description" content="Biirii Africa is a world class online fashion store that aims at providing premium and appealing African wears and accessories."/>
<meta property="og:image" content="https://biiriiafrica.com/apple-touch-icon.png"/>

</head>
<body>

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->

	<!-- Index section -->
	<section class="_index">
		<div class="_header"></div>
		<div class="_wrapper">
			<div class="_image-wrapper" id="">
				<img src="img/outdoor-bg-1.jpg" alt="Biirii Africa - The best of African Fashion">
			</div>
			<div class="_content">
				<div class="_splash">
					<h3>Welcome to <span>Biirii</span></h3>
					<p>Explore African fashion online</p>
				</div>
				<div class="_generic-btns">
					<a href="/store/women"><span>Women</span></a>
					<a href="/store/men"><span>Men</span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- Index section end -->

	<style>
		._extras > div{
			margin: 10px 0;
			padding: 10px;
		}
		div._gifts{
			padding: 30px 10px;
			background: #443034;
			text-align: center;
		}
		._gifts p{
			display: inline;
			max-width: 450px;
			width: 90%;
			/* background: #e4e2e2; */
			font-size: 6vmin;
			color: #e4e2e2;
			/* box-shadow: 0 -5px 0 5px #e4e2e2; */
		}
		._gifts span{
			display: inline-block;
			background: #e4e2e2;
			font-size: 4vmin;
			color: #000000;
			box-shadow: 7px 0 0 #e4e2e2, -7px 0 0 #e4e2e2;
		}
		.shop-now{
			position: relative;
			height: 350px;
			background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/bg1.jpg);
			background-size: cover;
			background-position: bottom;
		}
		.shop-now span{
			display: block;
			width: 70%;
			color: #cac8c8;
			text-align: center;
			font-size: 10vmin;
			font-weight: 700;
			position: absolute;
			bottom: 20%;
			left: 50%;
			transform: translateX(-50%);
		}
		.shop-now button{
			cursor :pointer;
			display: block;
			padding: 5px 22px;
			font-size: 18px;
			background: #cac8c8;
			border: none;
			outline: none;
			position: absolute;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
		}
		._outlets{
			text-align: center;
			background-color: #443034;
		}
		._outlets h2{
			font-size: 7vmin;
			color: #e4e2e2;
		}
		._outlets p{
			display: inline;
			/* background: #000000; */
			color: white;
			/* box-shadow: 7px 0 0 #000000, -7px 0 0 #000000; */
			font-size: 10vmin;
			font-weight: 700;
		}
		._outlets span{
			display: block;
			width: fit-content;
			max-width: 700px;
			/* background-color: #000000; */
			color: #ffffff;
			margin: 10px auto;
			padding: 5px;
			font-size: 14px;
		}
		._outlets span.deals{
			font-size: 4.5vmin;
			font-weight: 700;
		}
		.showproducts{
			display: grid;
			grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
			gap: 10px;
		}
		.cozzy ._info {
			padding: 5px;
			text-align: center;
		}
		._info h3 {
			font-size: 18px;
			font-weight: 500;
			margin: 10px 0;
		}
		.projects-container.scrollimation.in img {
			object-fit: contain;
			margin: 10px 0 20px;
		}

		.projects-container article.col-md-4.col-sm-6.portfolio-item.web-design.apps.psd {
			margin: 10px auto;
		}
	</style>

	<section class="_extras">
		<div class="_gifts">
			<p>SHOP WITH BIIRII THIS DECEMBER </p>
			<span> </span>
		</div>

<% if (products.length > 0) { -%>	
	<!-- latest product section -->
	<% let componentTitle = "Latest Categories" %>
	<%let featuredProducts = products %>
	<%include components/slidingProductList%>
	<!-- latest product section end -->
<% } -%>
		<div class="_outlets">
			<h2>SLAY WITH BIIRII </h2>
			<!--<p> EXTRA 20% OFF OUTLET <br> With code: EXTRA20FEELS </p> -->

			<span class="deals">DETTY DECEMBER SPECIAL </span>
			<span>SHOP PREMIUM AFRICAN FASHION THIS CHRISTMAS</span>
		</div>

		<div class="shop-now">
			<span>BIIRII DECEMBER VIBES</span>
			<button onclick="window.location='/store'">Shop now</button>
		</div>

	<!-- 	<div class="showproducts">
			<div class="cozzy">
				<img src="/img/products/biirii-fc1464fb-ed51-4129-866a-470bf2faf78c.jpeg" alt="">
				<div class="_info">
					<h3>Cosy Coats</h3>
					<span>Outdoor date, anyone?</span>
				</div>
			</div>
			<div class="cozzy">
				<img src="/img/products/biirii-fc1464fb-ed51-4129-866a-470bf2faf78c.jpeg" alt="">
				<div class="_info">
					<h3>Winter Bits</h3>
					<span>No cold feet here</span>
				</div>
			</div>
			<div class="cozzy">
				<img src="/img/products/biirii-fc1464fb-ed51-4129-866a-470bf2faf78c.jpeg" alt="">
				<div class="_info">
					<h3>KnitWear</h3>
					<span>Snug as bug</span>
				</div>
			</div>
			<div class="cozzy">
				<img src="/img/products/biirii-fc1464fb-ed51-4129-866a-470bf2faf78c.jpeg" alt="">
				<div class="_info">
					<h3>Face + body Faves</h3>
					<span>Love yourself</span>
				</div>
			</div>
		</div> -->
		<div class="info"></div>
	</section>






 <!-- Brands -->

 	<!-- Index section -->
	<section class="_index portfolio" align="center">
	
		<div align="center"><h3>BRANDS </h3></div>
		<br>

		<div class="container center-block">
		  <div class="row container bootstrap snippet" style="justify-content: space-around; margin: auto;">

		  	<div class="projects-container scrollimation in">
		  		<div class="row">
			    <% brands.forEach( brand=> { -%>

				<% 
					let image = (brand.main_img) ? `img/brands/${brand.main_img}` : "/img/brand-fallback.png";
				%>

				 <article class="col-md-4 col-sm-6 portfolio-item web-design apps psd">
						<div class="portfolio-thumb in">
							<a href="/brands/<%=brand.slug%>" class="main-link">
								<img class="img-responsive img-center" src="<%=image %>" width="350" height="280"  alt="<%=brand.name%>">
								<!-- <span class="overlay-mask"></span> -->

								<!-- I remove the brand names -->
								<!-- <h2  style="color: #403e3e">brand.name </h2> -->
							</a>

						</div>

					</article>
		

			    <% }) -%>
				</div>
			</div>
		  </div>
		</div>
	</section>
	<!-- Index section end -->

	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->


	<!-- Promo -->
	<% if (promo) { -%>
	<!-- Modal -->
	<div class="modal fade" id="promoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">

	      <div class="modal-body" align="center">
	        <img src="/img/promo/<%=promo.img %>">
	      </div>

	    </div>
	  </div>
	</div>
	<% } -%>

	<style>
		@keyframes fades {
		0% {opacity: 0;}
		10% {opacity: 1;}
		}

/*		._image-wrapper img{
			animation: fades 5s ease-in-out infinite;
		}*/
	</style>


	<script>

  		setTimeout(()=>{
        		$('#promoModal').modal('show'); 
    	}, 3000);

		window.onload = ()=>{
			let i = 2;
			setInterval(()=>{
				i++
				if(i > 4 ){ i = 1};
				document.querySelector("._image-wrapper img").setAttribute("src",`img/outdoor-bg-${i}.jpg`)
			}, 5000)
		}
	</script>

	</body>
</html>
