<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
</head>
<body>

	<style type="text/css">
	.p-qty {
	    width: 94px;
	    height: 36px;
	    border: 1px solid #ddd;
	    padding: 0 15px;
	    border-radius: 40px;
	    float: left;
	}	

	 .p-qty .qty-btn {
	    width: 15px;
	    display: block;
	    float: left;
	    line-height: 36px;
	    cursor: pointer;
	    text-align: center;
	    font-size: 18px;
	    color: #404040;
	}




	</style>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Page info -->
<!-- 	<div class="page-top-info">
		<div class="container">
			<h4>Category PAge</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Shop</a>
			</div>
		</div>
	</div> -->
	<!-- Page info end -->


<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
				<!-- <a href="#"> &lt;&lt; Go back</a> -->
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom---*">
						<img class="product-big-img" src="/img/products/<%=product.main_img %>" alt="<%=product.name %> || Biirii Africa" id="productImg-<%=product.id %>">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<!-- Multiple pictures of product -->
<!-- 						<div class="product-thumbs-track">
							<div class="pt active" data-imgbigurl="img/single-product/1.jpg"><img src="img/single-product/thumb-1.jpg" alt=""></div>
							<div class="pt" data-imgbigurl="img/single-product/2.jpg"><img src="img/single-product/thumb-2.jpg" alt=""></div>
							<div class="pt" data-imgbigurl="img/single-product/3.jpg"><img src="img/single-product/thumb-3.jpg" alt=""></div>
							<div class="pt" data-imgbigurl="img/single-product/4.jpg"><img src="img/single-product/thumb-4.jpg" alt=""></div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title"><%=product.name %> </h2>
					<h3 class="p-price">&#8358;<%=product.sub[0].price.toLocaleString() %> </h3>
					<h4 class="p-stock">Available: <span>In Stock</span></h4>


<!-- 					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div> -->


<!-- 					<div class="p-review">
						<a href="">3 reviews</a>|<a href="">Add your review</a>
					</div> -->
			<!-- 		<div class="fw-size-choose">
						<p>Size</p>
						<div class="sc-item">
							<input type="radio" name="sc" id="xs-size">
							<label for="xs-size">32</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="s-size">
							<label for="s-size">34</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="m-size" checked="">
							<label for="m-size">36</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="l-size">
							<label for="l-size">38</label>
						</div>
						<div class="sc-item disable">
							<input type="radio" name="sc" id="xl-size" disabled>
							<label for="xl-size">40</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="xxl-size">
							<label for="xxl-size">42</label>
						</div>
					</div> -->
					<div class="quantity">
						<p>Quantity</p>
                        <div class="pro-qty">
                        	<!-- <span class="dec qty-btn">-</span> -->
                        	<input 
                        	type="number"  
                        	value="1" 
                        	id="qtyValue"
                        	onchange="changeQty(this.value)"
                        	onblur="changeQty(this.value)" 
                        	on
                        	>
                        	<!-- <span class="inc qty-btn">+</span> -->
                        </div> 
                        <br>
                        <div class="" style="margin-left:20px; display: none;" id="itemTotalWrapper">&#8358;<span id="totalItemPrice"></span></div>                      
                   	</div>
					<a href="#" class="site-btn" onclick="addProductToCart('<%=product.sub[0].id%>', '<%=product.id%>' )">ADD TO CART</a>
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p><%=product.description %></p>
								</div>
							</div>
						</div>

						<% if (product.brand.length > 0) { -%>
							<div class="panel">
								<div class="panel-header" id="headingTwo">
									<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Brand Information </button>
								</div>
								<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
									<div class="panel-body">
										<ul>
											<li>Brand Name : Biirii Africa</li>
										</ul>
									</div>
								</div>
							</div>
							
						<% }  -%>
							
						<!-- <div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<h4>7 Days Returns</h4>
									<p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div> -->
					</div>
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->



	<!-- Related product section -->
	<% let componentTitle = "Related Products" %>
	<%//include components/slidingProductList%>
	<!--  product section end -->


	<!-- Footer section -->
	<%include includes/footer%>
	<!-- Footer section end -->


<script type="text/javascript">

		//UNFINISHED BUSINESS

var extras = []; 

var qtyValue = parseInt($("#qtyValue").val());  

var totalItemPriceWrapper = $("#itemTotalWrapper");

var productId = "<%=product.id%>";

var productPrice = <%=product.sub[0].price%>;

function addProductToCart (sp_id, p_id) {
	console.trace(qtyValue);
	Cart.add(sp_id, p_id, qtyValue);
}

function changeQty(value){
	qtyValue = value;

	let price = qtyValue * productPrice;

	if (qtyValue == 1) totalItemPriceWrapper.hide();

	if (qtyValue > 1) totalItemPriceWrapper.show();

	$("#totalItemPrice").html(price.toLocaleString());


}


function onlyUnique(value, index, self) { 
	return self.indexOf(value) === index;
}   


$(".qtybtn").on("click", function(){
	if ($(this).hasClass('dec')) {
		qtyValue = qtyValue - 1;
	}

	if ($(this).hasClass('inc')) {
		qtyValue = qtyValue + 1;
	}	


	if (qtyValue == 1) totalItemPriceWrapper.hide();

	if (qtyValue > 1) totalItemPriceWrapper.show();



	let price = qtyValue * productPrice;

	$("#totalItemPrice").html(price.toLocaleString());

});



 </script>

	</body>
</html>
