<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
<meta name="description" content="<%=product.name %> | <%=product.description %> <%if(product.brand.name){-%>| | <%=product.brand.name %><%}-%>">
<!-- Facebook and Twitter integration -->
<meta property="og:type" content="og:product"/>
<meta property="og:title" content="<%=product.name %>"/>
<meta property="og:description" content="<%=product.name %> | <%=product.description %> | <%if(product.brand.name){-%><%=product.brand.name %><%}-%>"/>
<meta property="og:image" content="https://biiriiafrica.com/img/products/<%=product.main_img %>"/>
<meta property="og:url"   content="https://biiriiafrica.com/store/products/<%=product.slug%>" />

<meta property="product:price:amount" content="<%=discountPrice%>">
<meta property="product:price:currency" content="NGN">


 <meta content="<%-currencyConvert({to:'USD', value :discountPrice}).result%>">
 <meta property="product:price:currency" content="USD"/>

 <meta content="<%-currencyConvert({to:'GBP', value :discountPrice}).result%>">
 <meta property="product:price:currency"  content="GBP"/>

 <meta content="<%-currencyConvert({to:'EUR', value :discountPrice }).result%>">
 <meta property="product:price:currency"  content="EUR"/>

</head>
<body>

	<style type="text/css">

	body {
		overflow-y: unset!important;
	}
	.p-qty {
	    width: 94px;
	    height: 36px;
	    border: 1px solid #ddd;
	    padding: 0 15px;
	    border-radius: 40px;
	    float: left;
	}	

	 .p-qty .qty-btn {
	    width: 15px;
	    display: block;
	    float: left;
	    line-height: 36px;
	    cursor: pointer;
	    text-align: center;
	    font-size: 18px;
	    color: #404040;
	}

	small.discounted{
		font-size: 13px !important;
		font-weight: 500!important;
		text-decoration: line-through;
	}

	.blink-txt {
		animation: blinker 1.5s linear infinite;
	}

	.brand-link {
		color:#f51167;
	}

	@keyframes blinker {
		50% {
			opacity: 0;
		}
	}


	</style>
	<!-- Page Preloder -->
<!-- 	<div id="preloder">
		<div class="loader"></div>
	</div>
 -->
	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Page info -->
<!-- 	<div class="page-top-info">
		<div class="container">
			<h4>Category PAge</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Shop</a>
			</div>
		</div>
	</div> -->
	<!-- Page info end -->


<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
				<!-- <a href="#"> &lt;&lt; Go back</a> -->
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom---*">
						<img class="product-big-img" src="/img/products/<%=product.main_img %>" alt="<%=product.name %> || Biirii Africa" id="productImg-<%=product.id %>">
					</div>

					<% if (moreImages.length > 0 ) { -%>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<!-- Multiple pictures of product -->
						<div class="product-thumbs-track">
							
							<div class="pt active" data-imgbigurl="/img/products/<%=product.main_img %>"><img src="/img/products/<%=product.main_img %>" alt=""></div>
								   <% moreImages.forEach(image=> { -%>
								   <div class="pt" data-imgbigurl="/img/products/<%=image.name %>"><img src="/img/products/<%=image.name %>" alt=""></div>
										
									<% }); -%>								
													
						</div>
					</div>
					<% } -%>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title"><%=product.name %> </h2>
				<!-- 	<h3 class="p-price">&#8358;<%=product.sub[0].price.toLocaleString() %> </h3> -->
				<h3 class="p-price"><%-currencyConvert({to:currencyChoice, value :product.sub[0].price}).symbol%>
								<%-currencyConvert({to:currencyChoice, value :discountPrice }).result.toLocaleString()%>

									
								<% if (product.discount_percent > 0){%>			<!--Actual price -->
								<small class="discounted">
								<%-currencyConvert({to:currencyChoice, value :product.sub[0].price}).symbol%>
								<%-currencyConvert({to:currencyChoice, value :product.sub[0].price }).result.toLocaleString()%>
								 </small>	
								</h3>
								<% } %>	
					<h4 class="p-stock">Available:
					 <% if(!product.out_of_stock){%><span>In Stock</span> <%}%>
					  <% if(product.out_of_stock){%><span>Out of Stock</span> <%}%>
					 </h4>
<% if (product.discount_percent > 0 ) { -%>
<h2 class="p-stock" style="font-size:18px">Discount: <span class="blink-txt"><%= product.discount_percent%>% off</span></h2>
<%}%>

<!-- 					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div> -->


<!-- 					<div class="p-review">
						<a href="">3 reviews</a>|<a href="">Add your review</a>
					</div> -->
					<div class="fw-size-choose">
						<p>Size</p>
						<div class="sc-item">
							<input type="radio" name="size" value="XS" id="xs-size" checked>
							<label for="xs-size">XS</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="size" value="S" id="s-size">
							<label for="s-size">S</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="size" value="M" id="m-size">
							<label for="m-size">M</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="size" value="L" id="l-size">
							<label for="l-size">L</label>
						</div>

						<div class="sc-item">
							<input type="radio" name="size" value="XL" id="xl-size">
							<label for="xl-size">XL</label>
						</div>

					</div>
					<div class="quantity">
						<p>Quantity</p>
                        <div class="pro-qty">
                        	<!-- <span class="dec qty-btn">-</span> -->
                        	<input 
                        	type="number"  
                        	value="1" 
                        	id="qtyValue"
                        	onchange="changeQty(this.value)"
                        	onblur="changeQty(this.value)" 
                        	on
                        	>
                        	<!-- <span class="inc qty-btn">+</span> -->
                        </div> 
                        <br>
                        <div class="" style="margin-left:20px; display: none;" id="itemTotalWrapper">
                        	<%-currencyConvert({to:currencyChoice, value :product.sub[0].price}).symbol%>
                        	<span id="totalItemPrice"></span></div>                      
                   	</div>

				    <% if(!product.out_of_stock){%>
					<a href="#" class="site-btn" onclick="addProductToCart('<%=product.sub[0].id%>', '<%=product.id%>' )">ADD TO CART</a>
					<% }%>

				    <% if(product.out_of_stock){%>
					<a  class="site-btn" style="background:#686666; color:#202020">ADD TO CART</a>
					
					<% }%>


					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p><%=product.description %></p>
								</div>
							</div>
						</div>

						<% if (product.brand_id) { -%>
							<div class="panel">
								<div class="panel-header" id="headingTwo">
									<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Brand Information </button>
								</div>
								<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
									<div class="panel-body">
										<ul>
											<li>Brand: <a href="/brands/<%=product.brand.slug %>" class="brand-link" target="_blank"><%=product.brand.name %></a></li>
										</ul>
									</div>
								</div>
							</div>
							
						<% }  -%>
							
						<!-- <div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<h4>7 Days Returns</h4>
									<p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div> -->
					</div>
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->



	<!-- Related product section -->
	<% let componentTitle = "Related Products" %>
	<%//include components/slidingProductList%>
	<!--  product section end -->


	<!-- Footer section -->
	<%include includes/footer%>
	<!-- Footer section end -->


<script type="text/javascript">


var size = "XS";

var extras = []; 

var qtyValue = parseInt($("#qtyValue").val());  

var totalItemPriceWrapper = $("#itemTotalWrapper");

var productId = "<%=product.id%>";

var productPrice = <%-currencyConvert({to:currencyChoice, value :discountPrice }).result%>;

function addProductToCart (sp_id, p_id) {
	console.trace(qtyValue);
	Cart.add(sp_id, p_id, qtyValue, size);
}

function changeQty(value){
	qtyValue = value;

	let price = qtyValue * productPrice;

	if (price < 1000) price = parseFloat(price).toFixed(2); 

	if (qtyValue == 1) totalItemPriceWrapper.hide();

	if (qtyValue > 1) totalItemPriceWrapper.show();

	$("#totalItemPrice").html(price.toLocaleString());


}


function onlyUnique(value, index, self) { 
	return self.indexOf(value) === index;
}   


$(".qtybtn").on("click", function(){
	if ($(this).hasClass('dec')) {
		qtyValue = qtyValue - 1;
	}

	if ($(this).hasClass('inc')) {
		qtyValue = qtyValue + 1;
	}	


	if (qtyValue == 1) totalItemPriceWrapper.hide();

	if (qtyValue > 1) totalItemPriceWrapper.show();


	let price = qtyValue * productPrice;

	if (price < 1000) price = parseFloat(price).toFixed(2); // for other currencies not NGN

	$("#totalItemPrice").html(price.toLocaleString());

});



$("input[name=size]").on('change',  function() {
	size = $(this).val();
});


 </script>

	</body>
</html>
