<style type="text/css">
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item {
    overflow-y: hidden;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.btn-add-to-cart {
    background: #f4901f;
    color: #fef5ed;
    border: 0px;
    font-size: 16px;
}

.btn-add-to-cart:hover {
    background: #d2740b; 
}   

.caption > h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
</style>





 <% products.forEach(product => { -%>
 <% let productExtras = extras.filter(obj=> obj.category_id == product.category_id) || [] %>

                <div class="item col-xs-3 special-grid col-lg-3 <%=categories.find(category => category.id == product.category_id).slug %>">
                    <div class="thumbnail card">
                        <div class="img-event" id="img-container-<%= product.id %>">
                            <img style="height: 220px; width:100%" class="group list-group-image img-fluid" src="/img/products/<%= product.main_img %>" alt="<%= product.name %>" id="productImg-<%= product.id %>"/>
                        </div>
                        <div class="caption card-body">
                            <h4 class="" style=" font-weight: 700; max-width: 120%;" align="center" title="<%= product.name %>">
                              <a href="/online-store/products/<%= product.slug %>"><%= product.name %></a>
                                  
                              </h4>
                           
 <!--                                <div align="center">
                                    <p class="lead text-success" style="font-weight: 700">
                                        &#8358;
                                </div> -->

                                 <div align="center">
                                    <p class="lead text-success" style="font-weight: 700">
                                        &#8358;<%= subProducts.find(x => x.product_id === product.id).price %>
                                        
                              
                                    </p>
                                </div> 

                                <br>

                                <div align="center">

                                    <!-- <button class=" btn-add-to-cart btn-sm" onclick="Cart.add(<%= product.id %>)">Add to cart</button> -->

                                   <!--  <%=subProducts.filter(x => x.product_id === product.id).length %> -->

                                    <% if (subProducts.filter(x => x.product_id === product.id).length === 1 && productExtras.length == 0) { //if sub product length is 1 , add to cart directly-%>

                                            <% subProducts.filter(x => x.product_id === product.id).forEach(sp=>{ %>
                                                <button class=" btn-add-to-cart btn-sm" onclick="addToCart(<%= sp.id %>)">Add to cart</button> 
                                            <%})  %> 

                                    <% } else if((subProducts.filter(x => x.product_id === product.id).length > 1) || (productExtras.length > 0 && subProducts.filter(x => x.product_id === product.id).length == 1) )  { //if sub product length is greater than 1 OR If product has -%>
                                        <button class=" btn-add-to-cart btn-sm" onclick="Cart.popSubModal(<%= product.id %>)">Add to cart</button>
                                    <% } -%>

                                    <!-- pop sub modal -->
                                    <!-- <button class=" btn-add-to-cart btn-sm" onclick="Cart.popSubModal(<%= product.id %>)">Add to cart</button>
 -->                                </div>
                           
                        </div>
                    </div>
                </div> 


                <!-- modal here -->
                <div>
                    <!-- Modal -->
                    <div class="modal fade" id="sub-modal-<%=product.id  %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                           <!-- <h1><%=product.id  %></h1> -->
                           <h1>Total: &#8358;<span id="sp-total-price-<%=product.id %>"><%= subProducts.find(x => x.product_id === product.id).price %></span></h1>

                           <div class="sp">
                                <div class="input-group mb-3">
                                    <select onchange="Cart.updateSubPrice(this, <%=product.id %>)" class="custom-select" name="sp-<%=product.id %>" id="inputGroupSelect01">
                                            <option selected>- Select <%=product.name  %>-</option>
                                            <% subProducts.filter(x => x.product_id === product.id).forEach(sp=>{ %>

                                            <option price="<%=sp.price %>" value="<%=sp.id %>"> 
                                              <% if (sp.name == "*") { -%>
                                                <%=product.name %>
                                              <% } else { -%>
                                                <%=sp.name %>
                                              <% } -%>
                                              </option> 
                                                       
                                            <%})  %> 
                                    </div>                          
                                </select>

                           </div> </div>


                           <!-- extras -->
                           <div>
                           

                               <% if (productExtras.length > 0) { -%>
                              <h3>Extras</h3>
                                <% productExtras.forEach(extra => { -%>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" onchange="addExtras(this.value)" name="extras" type="checkbox" id="extras-<%=product.id %>" value="<%=extra.id%>" price="<%=extra.price%>">
                                      <label class="form-check-label" for="inlineCheckbox1"><%=extra.name%> <small style="font-size: 10px; color: #ed8f20">(+  &#8358;<%=extra.price%>)</small></label>
                                    </div>  
                                <% }) -%>
                            <% } -%>   

                            <div align="right">
                              <% if (product.description !="N/A") { -%>
                              <p> <small><%=product.description %></small></p>
                              <% }  -%>
                                
                              
                            </div>                         

                           </div>

                           <div align="right">
                               <button class="btn btn-success" id="sp-btn-add-<%=product.id %>">Add to Cart</button>
                           </div>
                          </div>
                        </div>
                      </div>
                    </div>                    
                </div>
   <% } )-%>