	
<style type="text/css">
	.product-item {
		border: .5px solid #eee;
		border-radius: 20px;
		overflow: hidden;
		padding: 10px;
		margin: 10px 0;
	}
	.product-item .pi-text {
		padding-top: 22px;
		height: auto;
	}
	.product-link {
		color: #000;
		width: 100%;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
</style>


	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<ul class="product-filter-menu">
<!-- 				<li><a href="#">TOPS</a></li>
				<li><a href="#">JUMPSUITS</a></li>
				<li><a href="#">LINGERIE</a></li>
				<li><a href="#">JEANS</a></li>
				<li><a href="#">DRESSES</a></li>
				<li><a href="#">COATS</a></li>
				<li><a href="#">JUMPERS</a></li>
				<li><a href="#">LEGGINGS</a></li> -->

<% if (categories || categories.length > 0) { -%>
	<%categories.forEach(category=> {-%>
					<li><a href="/store/<%=superCategory %>/categories/<%=category.slug %>"><%=category.name %></a></li>
	<%}) -%>
<% } %>

			</ul>


			<div class="row">
<% products.forEach(product =>  { -%>


				<div class="col-lg-3 col-sm-6" >
					<div class="product-item">
						<div class="pi-pic">
							<a href="/store/products/<%=product.slug %>"><img src="/img/products/<%=product.main_img %>" alt="<%=product.name %>" id="productImg-<%=product.id %>">
							</a>	
							<div class="pi-links">
								<% if (product.sub.length > 0) { -%>
								<a href="#" class="add-card" onclick="addToCart(<%=product.sub[0].id%>, <%=product.id%>)"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<% } -%>
								<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
							</div>
						</div>
						<div class="pi-text">
							<% if (product.sub.length > 0) { -%> <h6><span id="currency-symbol">
							<%-currencyConvert({to:currencyChoice,value :product.sub[0].price }).symbol%></span>
							<%=currencyConvert({to:currencyChoice, value :product.sub[0].price }).result.toLocaleString() %></h6>

							<% } -%>
							<p><a href="/store/products/<%=product.slug %>" class="product-link"><%=product.name %></a></p>
						</div>
					</div>
				</div>


					
<% }) -%>
			</div>
<!-- 			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div> -->
		</div>
	</section>
	<!-- Product filter section end -->


