	
<style type="text/css">
	.product-link {
		color: #000;
	}
</style>


	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<ul class="product-filter-menu">
<!-- 				<li><a href="#">TOPS</a></li>
				<li><a href="#">JUMPSUITS</a></li>
				<li><a href="#">LINGERIE</a></li>
				<li><a href="#">JEANS</a></li>
				<li><a href="#">DRESSES</a></li>
				<li><a href="#">COATS</a></li>
				<li><a href="#">JUMPERS</a></li>
				<li><a href="#">LEGGINGS</a></li> -->

<%categories.forEach(category=> {-%>
				<li><a href="#"><%=category.name %></a></li>
<%}) -%>

			</ul>


			<div class="row">
<% products.forEach(product =>  { -%>


				<div class="col-lg-3 col-sm-6" >
					<div class="product-item">
						<div class="pi-pic">
							<img src="/img/products/<%=product.main_img %>" alt="<%=product.name %>">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<!-- <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a> -->
							</div>
						</div>
						<div class="pi-text">
							<% if (product.sub.length > 0) { -%> <h6>&#8358; <%=product.sub[0].price.toLocaleString() %></h6><% } -%>
							<p><a href="/store/products/<%=product.slug %>" class="product-link"><%=product.name %></a></p>
						</div>
					</div>
				</div>


					
<% }) -%>
			</div>
<!-- 			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div> -->
		</div>
	</section>
	<!-- Product filter section end -->


