	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2><%=componentTitle %></h2>
			</div>
			<div class="product-slider owl-carousel">
		<!-- 		<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/1.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Flamboyant Pink Top </p>
					</div>
				</div> -->


				<%featuredProducts.forEach(product => {%>
					<div class="product-item">
							<div class="pi-pic">
								<div class="tag-new">New</div>
								<img src="/img/products/<%=product.main_img %>" alt="<%=product.name %>" style="width: 130px">
	<!-- 							<div class="pi-links">
									<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
									<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
								</div> -->
							</div>
							<div class="pi-text">
<% if (product.sub.length > 0) { -%> <h6>
							<span id="currency-symbol">
							<%-currencyConvert({to:currencyChoice,value :product.sub[0].price }).symbol%>
							</span>
							<span id="product-price"><%=currencyConvert({to:currencyChoice, value :product.sub[0].price }).result.toLocaleString() %></span></h6>
<% } -%>
								<p><a href="/store/products/<%=product.slug %>" class="product-link"><%=product.name %></a></p>
							</div>
					 </div>
				<%})%>

			</div>
		</div>
	</section>