<% 
function roundToUp5(num) {
	return (Math.ceil(num / 5) * 5) + 10;
}
%>
<style>
	.discount-percent{
		position: absolute;
		background: #f51167;
		padding: 10px;
		left: -10px;
		top: -10px;
		color: #fff;
	}

	.ft a{
		color :#000 !important
	}
</style>

	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2><%=componentTitle %></h2>
			</div>
			<div class="product-slider owl-carousel">
		<!-- 		<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/1.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Flamboyant Pink Top </p>
					</div>
				</div> -->


				<%featuredProducts.forEach(product => {%>


					<div class="product-item">
							<div class="pi-pic" style="height: 250px; overflow: hidden;">
								<div class="tag-new">New</div>
								<img src="/img/products/<%=product.main_img %>" alt="<%=product.name %>" style="object-fit: cover; object-position: center; height: 100%;">
	<!-- 							<div class="pi-links">
									<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
									<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
								</div> -->
							</div>
							<div class="pi-text">
<% if (product.sub.length > 0) { -%> <h6>
<% 
	/**
	* COMPONENT LOGIC
	* Computing discount if product sub has more than 1  sub
	 */
	var discountPercentage = product.discount_percent/100;
	let nonDiscountPrice = product.sub[0].price;
	var discountPrice = product.sub[0].price - (discountPercentage * product.sub[0].price) ; 
-%>



							<span id="currency-symbol">
							<%-currencyConvert({to:currencyChoice,value :product.sub[0].price }).symbol%>
							</span>
							<span id="product-price">						<% // if product is naira
								if(currencyChoice === "NGN") {%><%-currencyConvert({to:currencyChoice, value :Math.trunc(roundToUp5(discountPrice)) }).result.toLocaleString() %>
								<% } else {-%>
									<%=currencyConvert({to:currencyChoice, value :discountPrice }).result.toLocaleString() %>
								<% } -%></span></h6>
								
							 <% // if product has discount
							 if (product.discount_percent > 0) { -%>
								<h6 class="discounted"><span id="currency-symbol">
								<%-currencyConvert({to:currencyChoice,value :discountPrice }).symbol%></span>
								<%=currencyConvert({to:currencyChoice, value :product.sub[0].price }).result.toLocaleString() %></h6>
							<% }-%>
								
<% } -%>
								<p class="ft"><a href="/store/products/<%=product.slug %>" class="product-link"><%=product.name %></a></p>
							</div>
					 </div>
				<%})%>

			</div>
		</div>
	</section>